# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# debug / ide
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
.idea/
.vscode/

# typescript
next-env.d.ts
*.tsbuildinfo

# local/temp artifacts
tmp/
_db_init_out.txt
